/* 반응형 */
@media screen and (max-width: 1800px) {
    #nav li{
        float:left;
        margin-right: 40px;
    }
    #nav li:last-child{
        margin-right: 100px;
    }
}
@media screen and (max-width: 1500px) {
    #nav li{
        float:left;
        margin-right: 30px;
    }
    #nav li:last-child{
        margin-right: 50px;
    }

    /* 아래방향 화살표 */
    .arrow_down {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 35%;
    }
    #ar_down {
    animation: motion 0.5s linear 0s infinite alternate;
    margin-top: 0;
    }
    @keyframes motion {
    0% {
        margin-top: 0px;
    }

    100% {
        margin-top: 20px;
    }
    }
}

@media screen and (max-width: 1300px) {
    #nav{
        width: 100%;
        height: 100px;
    }
    #nav ul{
        float:right;
        /* margin: 35px 40px; */
    }
    #nav li{
        float:left;
        margin-right: 20px;
    }
    #nav li:last-child{
        margin-right: 5px;
    }
    #nav li > a{
        font-size: 20px;
    }
    #nav > ul > li.on a {
        color: #fff;
    }
    #nav > ul > li > a:hover{
        color: #fff;
    }

    .group{
        width: 100%;
        height: 700px;
    }
    .group_a {
        margin-left: 100px;
    }
    .group_a > h2{
        font-size: 50px;
    }
    .group_a > h3{
        font-size: 50px;
        color: #fff;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #000;
    }
    .group_a > p{
        font-size: 25px;
        margin-top: 30px;
        line-height: 40px;
        font-weight: 700;
    }
    .group_b img{
        display: none;
    }

    #contents{
        width: 100%;
        height: 6600px;
    }
    .info{
        width: 100%;
        height: 660px;
        border-bottom: 1px solid #B2B2B2;
    }
    .info_ul{
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: 580px;
    }

    /* 년도별 */
    .year{
        position: absolute;
        top: 5%;
        width: 500px;
        height: 300px;
    }

    /* 사회 경력 */
    .career{
        position: absolute;
        top: 53%;
        width: 350px;
        height: 90px;
        margin-right: 220px;
    }

    /* 자격증 */
    .cert{
        position: absolute;
        top: 75%;
        width: 350px;
        height: 90px;
        margin-right: 150px;
    }

    /* 숙련도 */
    .skills{
        float:left;
        width: 100%;
        height: 800px;
        background-color: #E5E5E5;
    }
    .skill_ul{
        margin: 0 auto;
        width: 200px;
        height: 650px;
        padding-top: 30px;
        padding-left: 25%;
    }    
    .html{
        width: 300px;
        height: 160px;
    }    
    .css{
        width: 300px;
        height: 160px;
        padding-bottom: 30px;
    }
    
    .javascript{
        width: 300px;
        height: 130px;
    }
    
    .design{
        width: 300px;
        height: 130px;
    }

    #folio > h2{
        padding-top: 620px;
        text-align: center;
        font-size: 40px;
    }

    /* 포트폴리오 페이지 */
    .group_1{
        position: relative;
        width: 100%;
        height: 1050px;
    }
    .l_img {
        position: absolute;
        top: 0px;
    }
    .r_txt{
        margin: 0 auto;
        position: absolute;
        bottom: 30px;
    }
    
    /* 웹젠 랜딩 사이트 */
    .group_2{
        position: relative;
        width: 100%;
        height: 1250px;
    }
    .r_webzen_txt{
        margin: 0 auto;
        position: absolute;
        bottom: -100px;
    }
    .webzen_img {
        position: absolute;
        top: 100px;
    }


    /* 야놀자 사이트 */
    .group_3{
        position: relative;
        width: 100%;
        height: 1300px;
        padding-left: 50px;
        margin-top: 100px;
    }
    .r_yanolja_img {
        position: absolute;
        top: 100px;
    }
    .l_yanolja_txt{
        position: absolute;
        bottom: 0;
    }

    /* 아디다스 사이트 */
    .group_4{
        position: relative;
        width: 100%;
        height: 1250px;
        padding-left: 50px;
    }
    .l_adidas_img {
        position: absolute;
        top: 100px;
    }
    .r_adidas_txt{
        position: absolute;
        bottom: 0;
    }


    #footer{
        float:left;
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #222;
    }
    #footer p{
        font-size: 12px;
        color: #fff;
        letter-spacing: 2px;
    }

}

@media screen and (max-width: 1000px) {
    #nav{
        width: 100%;
        height: 100px;
    }
    #nav ul{
        float:right;
    }
    #nav li{
        float:left;
        margin-right: 20px;
    }
    #nav li:last-child{
        margin-right: 5px;
    }
    #nav li > a{
        font-size: 20px;
    }
    #nav > ul > li.on a {
        color: #fff;
    }
    #nav > ul > li > a:hover{
        color: #fff;
    }

    .info_ul{
        margin-left: 20px;
        width: 100%;
        height: 580px;
    }
}

@media screen and (max-width: 700px) {
    #nav li{
        float:left;
        margin-right: 15px;
    }
    #nav li:last-child{
        margin-right: 0;
    }
}